.page_contact_us {
    width: 100%;
    height: 100%;
    margin-bottom: 85px;
    
    .banner {
        width: 100%;
        height: 460px;
        background-color: #ccc;
        margin-bottom: 60px;

        .mask {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            .slide_btn_container {
                width: 100%;
                height: 6px;
                bottom: 20px;
                position: absolute;
                display: flex;
                justify-content: center;

                .slide_btn {
                    width: 32px;
                    height: 100%;
                    margin: 0px 2px;
                    border-radius: 3px;
                    background-color: #9782a4;
                    cursor: pointer;
                }

                .slide_btn.active {
                    background-color: #680b5b;
                }
            }

            .canvas {
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
                position: absolute;
                top: 0px;
                left: 0px;
                transition: 0.35s left;

                .slide {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    background-position: center;
                    background-size: cover;

                    .content_container {
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .featured {
                            margin-top: 0px;
                            margin-bottom: 0px;
                            width: 480px;
                            padding: 20px;
                            border-radius: 8px;
        
                            .title {
                                font-size: 36px;
                                color: #555555;
                                font-weight: 900;
                                margin-top: 0px;
                                margin-bottom: 20px;
                            }
        
                            .featured_text {
                                color: #555555;
                                font-size: 16px;
                                margin-bottom: 40px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section {
        width: 100%;
        margin-bottom: 80px;
        position: relative;

        .bg_section {
            position: absolute;
            top: 0px;
        }
        
        .content_container {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;

            .segment {
                width: 100%;
                display: flex;
                justify-content: center;

                .contact_box {
                    width: 300px;
                    height: 260px;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px #bbaec4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;

                    .details {
                        height: 30px;
                        color: #555;
                        > img {
                            height: 30px;
                            float: left;
                        }
                        > div {
                            margin-left: 5px;
                            font-size: 14px;
                            height: 30px;
                            float: left;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .berring {
                        position: absolute;
                        top: 10px;
                    }
                }

                .form_box {
                    width: 510px;
                    margin-top: -200px;
                    margin-left: 30px;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px #bbaec4;

                    padding-top: 60px;
                    padding-left: 15px;
                    padding-right: 15px;
                    position: relative;

                    input, textarea {
                        outline: none;
                        width: 100%;
                        height: 40px;
                        background: #e7e1eb;
                        border-radius: 5px;
                        border: none;
                        padding: 0px 10px;
                        margin: 7px 0px;
                    }

                    textarea {
                        padding: 10px 10px;
                        height: 100px;
                        resize: none;
                    }

                    .required {
                        width: 100%;
                        font-size: 10px;
                        color: #f00;
                    }

                    .ccazz_btn {
                        margin: 10px auto;
                        margin-top: 20px;
                        box-shadow: 0px 0px 10px #bbaec4;
                    }

                    .clip {
                        position: absolute;
                        top: -37px;
                        left: 50%;
                        margin-left: -57px;
                    }

                    .form_success {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        background-color: rgba(255,255,255,0.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .success_box {
                            width: 360px;
                            height: 180px;
                            background-color: rgba(255,255,255,0.75);
                            box-shadow: 0px 0px 10px #999;
                            border-radius:10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .success_check {
                                width: 40px;
                                height: 40px;
                            }

                            .success_notif {
                                font-size: 24px;
                                color: #555;
                                font-weight: 900;
                                margin-top: 10px;
                                text-align: center;

                            }
                        }
                    }

                }

                .clinic_schedule{
                    width: 540px;
                    padding: 20px;
                    background-color: rgba(255,255,255,0.5);
                    
                    .title {
                        font-size: 36px;
                        color: #555;
                        font-weight: 900;
                        margin-top: 0;
                        margin-bottom: 40px;
                    }

                    .schedule {
                        width: 100%;
                        margin-bottom: 30px;

                        .clinic_name {
                            width: 100%;
                            color: #660b5a;
                            padding: 10px 0px;
                            border-bottom: 1px solid #660b5a;
                        }

                        .clinic_details {
                            width: 100%;
                            height: 30px;
                            padding: 5px 5px;
                            color: #555;
                            > img {
                                height: 30px;
                                float: left;
                            }
                            > div {
                                margin-left: 5px;
                                font-size: 14px;
                                height: 30px;
                                float: left;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .page_contact_us {
    
        .section {
            .bg_section {
                width: calc(100% - 30px);
                position: relative;
                margin-top: -40px;
                margin-bottom: 20px;
            }
            
            .content_container {
              
    
                .segment {
                    flex-direction: column-reverse;
    
                    .contact_box {
                        width: calc(100% - 60px);
                        margin-left: 30px;
                        margin-top: 30px;
                    }
    
                    .form_box {
                        width: calc(100% - 30px);
                        margin-left: 15px;
                    }
                }
            }
        }
    }

}