
/node_modules/
/shortcuts/
/credentials.txt
/pull.txt
/push.txt
/reference
/build/node_modules/
/build/src/
/build/.env
/build/nohup.out
/build/debug/
/build/package-lock.json
/assets/

/config/devConfig.js



npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
