.banner {
    width: 100%;
    height: 460px;
    background-color: #ccc;
    margin-bottom: 60px;

    .mask {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .slide_btn_container {
            width: 100%;
            height: 6px;
            bottom: 20px;
            position: absolute;
            display: flex;
            justify-content: center;

            .slide_btn {
                width: 32px;
                height: 100%;
                margin: 0px 2px;
                border-radius: 3px;
                background-color: #9782a4;
                cursor: pointer;
            }

            .slide_btn.active {
                background-color: #680b5b;
            }
        }

        .canvas {
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            position: absolute;
            top: 0px;
            left: 0px;
            transition: 0.35s left;

            .slide {
                width: 100%;
                height: 100%;
                position: relative;
                background-position: center;
                background-size: cover;

                .content_container {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .featured {
                        margin-top: 0px;
                        margin-bottom: 0px;
    
                        .title {
                            margin-bottom: 20px;
                        }
    
                        .featured_text {
                            font-size: 16px;
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .banner {
        height: 540px;
    }
}