.page_home {
    .content {
        width: 100%;
        min-height: 200px;
        background-color: #fff;
        display: inline-block;

        .category_row {
            width: 100%;
            padding: 15px 10px;
            border-bottom: 1px solid #D6D8DA ;
            float: left;
            color: #333;

            .title {
                width: 300px;
                font-size: 18px;
                float: left;
                font-weight: 700;
                display: flex;
                align-items: center;

                .title_image {
                    width: 40px;
                    height: 40px;
                    background-color: #445;
                    border-radius: 20px;
                    margin-right: 15px;
                }

                .title_text {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .list {
                width: calc(100% - 300px);
                float: left;
                font-weight: 300;
                font-size: 14px;
                
                .category_item {
                    width: 33%;
                    padding: 4px 20px;
                    float: left;
                }
            }
        }

        .category_row:last-of-type {
            border-bottom: none
        }
    }
}