.page_categories {
    .content {
        width: 100%;
        min-height: 200px;
        background-color: #fff;
        display: inline-block;

        .sidebar {
            width: 320px;
            padding: 15px 0px 15px 60px;
            background-color: #dddddd;

            a.sidebar_item {
                width: 100%;
                padding: 15px 0px;
                font-size: 12px;
                display: block;
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .grid_content {
            width: calc(100% - 300px)
        }
    }
}