.page_the_doctos {
    width: 100%;
    height: 100%;
    margin-bottom: 85px;

    .section {
        width: 100%;
        margin-bottom: 80px;
        position: relative;

        .bg_section {
            position: absolute;
            top: 0px;
        }

        .content_container {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;

            .segment {
                width: 100%;
                display: flex;
                justify-content: center;

                .title {
                    font-size: 18px;
                    color: #680b5b;
                    font-weight: 900;
                    letter-spacing: 2px;
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
            }

            .segment.column {
                display: flex;
                position: relative;

                .treatment {
                    width: 360px;
                    padding: 0px 20px;
                    margin: 0px 40px;
                    flex-direction: column;
                    text-align: center;
               

                    .vector {
                        width: auto;
                        height: auto;
                        position: relative;
                        margin: 0 auto;
                        margin-bottom: 40px;
                    }

                    .treatment_title {
                        margin: 0 auto;
                        padding: 0px 20px;
                        color: #555;
                        margin-bottom: 20px;
                        font-weight: 900;
                        font-size: 24px;
                    }

                    .treatment_subtitle {
                        margin: 0 auto;
                        padding: 0px 20px;
                        color: #680b5b;
                        margin-bottom: 20px;
                        font-size: 14px;
                    }

                    .treatment_text {
                        margin: 0 auto;
                        color: #555555;
                        font-size: 14px;
                        margin-bottom: 70px;
                    }

                    .ccazz_btn  {
                        margin: 0 40px;
                        position: absolute;
                        bottom: 0px;
                    }
                }
            }
            
        }
    }
}


@media only screen and (max-width: 720px) {
    .page_the_doctos {
       
        .section {
            margin-bottom: 0px;
    
            .bg_section {
               
            }
    
            .content_container {
                
    
                .segment {
                    
    
                    .title {
                      
                    }
                }
    
                .segment.column {
                    flex-direction: column;
    
                    .treatment {
                        width: 100%;
                        margin: 0px 0px;
                   
    
                        .vector {
                          
                        }
    
                        .treatment_title {
                           
                        }
    
                        .treatment_subtitle {
                         
                        }
    
                        .treatment_text {
                            margin-bottom: 20px;
                        }
    
                        .ccazz_btn  {
                            position: relative;
                            margin-bottom: 80px;
                        }
                    }
                }
                
            }
        }
    }
    
}